body {
    /* custom */
    cursor: url('../assets/cursor.png'), pointer !important;
    /* webflow */
    overflow: hidden;
    height: 100%;
    background-color: #141414;
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
    scroll-behavior: smooth;
}

#upButton {
    top: -4vh;
}

.holder {
    display: none;
    transition: all 1s ease !important;
}

.green-audio-player .holder {
    display: none;
    position: relative;
    transition: all 1s ease;
}

.controls {
    visibility: hidden;
    transition: all 1s ease;
}

td {
    padding-left: 0px;
}

#downButton {
}

.swiper-wrapper {
    opacity: 1 !important;
    /* z-index: 2 !important; */
    /* position: absolute; */
}

.swiper--poster {
    z-index: 2;
}

table {
    width: 100%;
}

th {
    font-weight: normal;
}

#resourcesContent {
    /* opacity: 1; */
    /* display: block !important; */
    /* transition: opacity 500ms ease-in-out 0s; */
}

.tab-pane-resources-2 {
    /* opacity: 1; */
    /* transition: opacity 500ms ease-in-out 0s; */
}

.w--tab-active {
    display: none;
}

/* hide scroll bar */
.tab-content {
    /* margin-left: 0; */
    margin-right: auto;
    /* overflow: hidden; */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

.tab-content::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

#indexContent {
    overflow: hidden !important;
}

.indexcontent {
    margin-left: auto;
    margin-right: auto;
}

.hero {
    margin-top: 6vh !important;
}

.title-and-text {
    margin-top: 6vh !important;
}

.plyr__controls {
    display: flex;
}

.swiper-wrapper {
    /* transition-timing-function: ease; */
}

.swiper-section {
    /* position: relative; */
    width: 100%;
    padding: 0 40px;
    /* bottom: 10%; */
    /*     position: fixed; */
    /*     left: 0%; */
    /*     top: auto; */
    /*     right: 0%; */
    /*     bottom: 5%; */
    /*     display: block; */
    /*     height: auto; */
    /*     margin-top: 40px; */
    /*     -webkit-box-align: end; */
    /*     -webkit-align-items: flex-end; */
    /*     -ms-flex-align: end; */
    /*     align-items: flex-end; */
    /* } */

    /* .swiper { */
    /*     width: 100%; */
    /*     height: 100%; */
    /*     /* bottom: 50%; */
    /*     /* overflow: visible; */
    /*     position: static; */
    /*     left: 0%; */
    /*     top: 0%; */
    /*     right: 0%; */
    /*     bottom: 0%; */
    /*     overflow: visible; */
    /*     min-height: auto; */
    /*     min-width: 50px; */
    /*     margin-right: 0px; */
    /*     margin-bottom: 0px; */
    /*     margin-left: 0px; */
    /*     padding: 0px; */
    /* padding-bottom: 10vh; */

    margin-bottom: 5vh;
    z-index: 3;
    /* transition-timing-function: linear !important; */
}

.swiper-wrapper {
    /*     opacity: 1 !important; */
    /*     width: 100% !important; */
    /*     position: relative; */
    /*     z-index: 500; */
    /*     display: -webkit-box; */
    /*     display: -webkit-flex; */
    /*     display: -ms-flexbox; */
    /*     display: flex; */
    /*     overflow: visible; */
    /*     /* margin-bottom: 10vh; */
    /*     padding-right: 0px; */
    /*     padding-left: 0px; */
    /*     padding-bottom: 10vh; */
    /*     -webkit-box-pack: center; */
    /*     -webkit-justify-content: center; */
    /*     -ms-flex-pack: center; */
    /*     justify-content: center; */
    /*     -webkit-box-align: end; */
    /*     -webkit-align-items: flex-end; */
    /*     -ms-flex-align: end; */
    /*     align-items: flex-end; */
    /*     border: 1px solid transparent; */
    margin-bottom: 10vh;

    /* transition: all 0.7s linear !important; */
}

.card_video {
    position: relative;
    bottom: 0px;
    z-index: 8;
    max-height: none;
    max-width: none;
    margin: -2px -2px 0px;
    border: 1px solid transparent;
    /* -webkit-transition: -webkit-transform 1s ease; */
    /* transition: -webkit-transform 1s ease; */
    /* transition: transform 1s ease; */
    /* transition: transform 1s ease, -webkit-transform 1s ease; */
    -o-object-fit: fill;
    object-fit: fill;
}

.card_description {
    position: relative;
    display: none;
    overflow: visible;
    width: 100%;
    height: 100%;
    max-height: none;
    max-width: none;
    /* min-width: 100px; */
    margin-bottom: -40px;
    padding: 0px 5px;
    clear: none;
    border: 1px solid transparent;
    background-color: #141414;
    font-family: Akzidenz, sans-serif;
    -o-object-fit: fill;
    object-fit: fill;
}

.video-title {
    order: 0;
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    /* display: -ms-flexbox; */
    /* display: flex; */
    /**/
    /* margin: auto; */
    /* display: inline-block; */
    margin-right: 10px;
    padding-right: 10px;
    /* -webkit-box-pack: start; */
    /* -webkit-justify-content: flex-start; */
    /* -ms-flex-pack: start; */
    /* justify-content: flex-start; */
    /* -webkit-flex-wrap: wrap; */
    /* -ms-flex-wrap: wrap; */
    /* flex-wrap: wrap; */
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    font-family: Akzidenz, sans-serif;
    color: #e0e0e0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    /* white-space: pre-wrap; */
}

.video-description {
    position: relative;
    width: 60%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: transparent;
    font-family: Akzidenz, sans-serif;
    color: #e0e0e0;
    font-size: 15px;
    line-height: 17px !important;
    font-weight: 300;
    letter-spacing: normal;
    -o-object-fit: contain;
    object-fit: contain;
}

.video-duration {
    position: absolute;
    left: auto;
    top: 5px;
    right: 2%; /* added space on right side */
    bottom: 0%;
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    /* display: -ms-flexbox; */
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-family: Akzidenz, sans-serif;
    color: #e0e0e0;
    font-size: 14px;
    font-weight: 500;
}

.progress {
    height: 2px;
    order: 5;
    flex: 5;
    display: block;
    /* height: auto; */
    margin: auto;

    align-items: center;
    justify-content: center;
    /**/
    /* margin: auto; */
    /* display: inline-block; */
    /* left: auto; */
    /* top: 0%; */
    /* right: 2%; /* added space on right side */
    /* bottom: 0%; */
    /* width: 100%; */
    /* float: right; */
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    /* display: -ms-flexbox; */
    /* display: flex; */
    /* -webkit-box-pack: end; */
    /* -webkit-justify-content: flex-end; */
    /* -ms-flex-pack: end; */
    /* justify-content: flex-end; */
    /* font-family: Akzidenz, sans-serif; */
    /* color: #e0e0e0; */
    /* font-size: 14px; */
    /* font-weight: 500; */
}

.progress > svg {
    height: 100%;
    display: block;
}

.progress * {
    /* vertical-align: middle; */
    /* justify-content: center; */
    /* align-items: center; */
}

.video-top-div {
    width: 100%;
    display: flex;
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    /* display: -ms-flexbox; */
    /* display: flex; */
    overflow: hidden;
    padding-left: 5px;
    padding-top: 5px;
    /* -webkit-box-orient: vertical; */
    /* -webkit-box-direction: normal; */
    /* -webkit-flex-direction: column; */
    /* -ms-flex-direction: column; */
    /* -webkit-box-pack: justify; */
    /* -webkit-justify-content: space-between; */
    /* -ms-flex-pack: justify; */
    /* -webkit-flex-wrap: wrap; */
    /* -ms-flex-wrap: wrap; */
    /* flex-wrap: wrap; */
    /* -webkit-align-content: space-between; */
    /* -ms-flex-line-pack: justify; */
    flex-direction: row;
    /* justify-content: space-between; */
    /* align-content: space-between; */
    /* justify-content: center; */
    /* align-items: center; */
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    font-family: Akzidenz, sans-serif;
}

.swiper-slide {
    /* width: 60%; */
}

.swiper-slide:nth-child(2n) {
    /* width: 40%; */
}

.swiper-slide:nth-child(3n) {
    /* width: 20%; */
}

.swiper-slide {
    /*     /*     min-width: 100px; */
    /*     /*     border-radius: 0 0 0 0; */
    /*     /* webflow */

    order: 1;
    position: relative;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    z-index: 4;
    display: block;
    overflow: visible;
    /* min-height: auto; */
    /* min-width: auto; */
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    border: 2px solid transparent;
    border-radius: 6px;
    /* -webkit-transition: width 200ms ease; */
    /* transition: width 200ms ease; */
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
    cursor: auto;
    mix-blend-mode: normal;
    -o-object-fit: fill;
    object-fit: fill;
    /* width: 10vw !important; */
    min-width: 1vw;
}

/* .swiper-slide-active { */
/*     border: 1px solid red !important; */
/* } */

/* .swiper-slide:hover { */
/*     -webkit-transform: none; */
/*     -ms-transform: none; */
/*     transform: none; */
/* } */

.card_description {
    /* display: none; */
    position: absolute;
}

/* .plyr__controls { */
/*     display: none; */
/* } */

/* AUDIO PLAYER */
.green-audio-player {
    background-color: transparent !important;
    border-radius: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    vertical-align: top !important;
    /* -webkit-box-shadow: none !important; */
}

.green-audio-player .volume {
    display: none !important;
}

.green-audio-player .controls {
    margin-left: 0px !important;
    margin-right: 0px !important;
    justify-content: start !important;
}

.green-audio-player .controls__total-time {
    display: none !important;
}

.green-audio-player .controls__current-time {
    display: none !important;
}

.green-audio-player .play-pause-btn__icon {
    fill: white !important;
}

.green-audio-player img,
.green-audio-player svg {
    display: block;
    max-width: 15px !important;
    max-height: 15px !important;
}

.green-audio-player .slider .gap-progress .pin {
    display: none !important;
}

.green-audio-player .slider .gap-progress {
    background-color: white !important;
}

.green-audio-player .slider {
    background-color: #5c5b5b !important;
}

.green-audio-player .controls .controls__slider {
    border-radius: 0px !important;
    height: 2px !important;
    margin-left: 6px !important;
    margin-right: 1px !important;
}

.green-audio-player .holder .loading .loading__spinner {
    display: none !important;
}

/* TYPEWRITER EFFECT */
.typed-words {
    content: '';
    display: block;
    animation: none;
}

/* UP/DOWN SCROLL BUTTONS */
/* html { */
/*     scroll-behavior: smooth; */
/* } */

/* .tab-content { */
/*     scroll-behavior: smooth; */
/* } */

/* SCROLLBAR HIDE */
/* width */
/* ::-webkit-scrollbar { */
/*     width: 0px; */
/* } */

/* Track */
/* ::-webkit-scrollbar-track { */
/*     background: transparent; */
/* } */

/* Handle */
/* ::-webkit-scrollbar-thumb { */
/*     background: transparent; */
/* } */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover { */
/*     background: transparent; */
/* } */

body {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* SWIPER JS (VIDEO REEL) */

:root {
    --swiper-theme-color: #white;
}

/* video player sizes */

.swiper-slide {
    /* transition: all 0.7s ease !important; */
    /* transition: width 1s !important; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center; */
    /* transform: scale3d(5, 5, 1); */

    /* backface-visibility: hidden; */
    /* will-change: auto; */
    /* transition: all 1400ms ease !important; */
}

.mediumVideo {
    /* transition: all 1s ease-in !important; */
    /* transition: all 1s linear; */
    /* transform: scale3d(2, 2, 1) !important; */
    /* transform: scale(2) translate(0%, -100%) !important; */
    /* transform: scale(5, 5) !important; */
    z-index: 4;
    /* min-width: 35vw; */
    /* border: 1px solid red !important; */
}

.menubuttondiv {
    max-width: 40px !important;
}

.tab-menu {
    margin-top: 40px !important;
}

.mediumVideo .video-description {
    /* width: 20vw; */
}

.largeVideo {
    /* transition: all 1s ease-in; */
    /* transition: all 1s linear; */
    z-index: 5;
    /* min-width: 70vw; */
}

.largeVideo .video-description {
    /* width: 70vw; */
}

.card_video {
    /* transition: all 1s ease-in !important; */
    border-radius: 0 0 0 0;
}

.plyr {
    min-width: 1vw;
}

.plyr--video .plyr__controls {
    display: none;
}

.mediumVideo .plyr__controls {
    /* transition: all 1s ease-in; */
    display: block;
}

.largeVideo .plyr__controls {
    /* transition: all 1s ease-in; */
    display: block;
}

.swiper-button-next {
    right: 0;
    bottom: 25vh;
    margin-right: 3vw;
    color: grey !important;
    transition: all 0.7s linear;
}

.swiper-button-prev {
    left: 0;
    bottom: 25vh;
    margin-left: 3vw;
    color: grey !important;
    transition: all 0.7s linear;
}

/* .swiper-button-next { */
/*     right: 0; */
/*     top: -60px; */
/*     margin: 0px; */
/*     margin-right: 10px; */
/*     background: transparent; */
/*     opacity: 0.5 !important; */
/*     color: grey !important; */
/*     z-index: 20; */
/* } */

/* .swiper-button-prev { */
/*     left: 0; */
/*     top: -60px; */
/*     margin: 0px; */
/*     margin-left: 10px; */
/*     background: transparent; */
/*     color: grey !important; */
/*     opacity: 0.5 !important; */
/*     z-index: 20; */
/* } */

.swiper-button-prev:hover {
    color: white !important;
    opacity: 1 !important;
}

.swiper-button-next:hover {
    color: white !important;
    opacity: 1 !important;
}

/* update the sizing for the swiper left/right buttons */
.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 20px !important;
    letter-spacing: 1;
    height: 0px !important;
}

/* PLYR */
.class-embed {
    --plyr-menu-radius: 0px !important;
    --plyr-badge-border-radius: 0px !important;
    --plyr-control-radius: 0px !important;
    --plyr-control-padding: 1px !important;
    --plyr-control-radius: 0px !important;
    --plyr-range-thumb-height: 0px !important;
    --plyr-range-thumb-background: white !important;
    --plyr-range-track-height: 2px !important;
    --plyr-range-fill-background: #c8a2c8 !important;
}

/* plyr controls */
.player
    button.PlayButton_module_playButton__c748471d.PlayButton_module_center__c748471d {
    display: none !important;
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded='true'] {
    background: transparent;
    height: 5px;
}

.plyr__control {
    position: relative;
    bottom: 5px;
    left: 25px;
    color: white;
    background: transparent;
}

.plyr--full-ui input[type='range'] {
    border-radius: 0px;
    color: white;
    height: 5px;
}

.plyr__tooltip {
    display: none !important;
}

.plyr__controls {
    align-items: left;
    display: start;
    justify-content: left;
    text-align: left;
    padding-right: 5px;
}

[data-plyr='play'] {
    display: absolute;
    bottom: 0px;
    left: 0px;
}

.plyr__progress [data-plyr='seek'] {
    color: #c8a2c8;
}

.plyr--video .plyr__controls {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 0px;
}

/* padding top tells you how much space there will be between the play and the progress bar*/
.plyr__controls .plyr__controls__item.plyr__progress__container {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

/* this is the play button */
.plyr__controls .plyr__controls__item:first-child {
    margin-left: 10px;
    margin-right: auto;
}

.player
    .ControlBar_module_controls__d3ac62ba.ControlBar_module_noPlaybar__d3ac62ba {
    display: none !important;
}

.menu-button {
    position: absolute;
    top: 5vh;
    right: 5vw;
}

.tab-menu {
    position: absolute;
    top: 5vh;
    padding-right: 5vw;
    z-index: 5;
}

@media screen and (max-width: 479px) {
    .video-title {
        margin-right: 15px;
        padding-right: 0px;
        font-size: 0.8rem;
        line-height: 0.8rem;
    }

    .video-description {
        font-size: 0.7rem;
        line-height: 0.8rem;
    }

    .video-duration {
        font-size: 0.6rem;
        line-height: 0.6rem;
    }

    .tab-content {
        margin-left: auto;
    }
}

@media screen and (max-width: 1200px) {
    .swiper {
        padding: 0 36px;
    }

    td {
        padding-left: 5px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 36px;
        height: 30px;
    }

    .arrow-buttons-div {
        display: none;
    }

    .down-button {
        display: none;
    }

    .up-button {
        display: none;
    }

    .video-description {
        line-height: 14px !important;
    }

    .card_description {
        padding: 0 0 !important;
    }

    .video-duration {
        top: 30%;
    }
}
