/* AUDIO PLAYER */
.green-audio-player {
    background-color: transparent !important;
    border-radius: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    vertical-align: top !important;
    /* -webkit-box-shadow: none !important; */
}

.green-audio-player .volume {
    display: none !important;
}

.green-audio-player .controls {
    margin-left: 0px !important;
    margin-right: 0px !important;
    justify-content: start !important;
}

.green-audio-player .controls__total-time {
    display: none !important;
}

.green-audio-player .controls__current-time {
    display: none !important;
}

.green-audio-player .play-pause-btn__icon {
    fill: white !important;
}

.green-audio-player img,
.green-audio-player svg {
    display: block;
    max-width: 15px !important;
    max-height: 15px !important;
}

.green-audio-player .slider .gap-progress .pin {
    display: none !important;
}

.green-audio-player .slider .gap-progress {
    background-color: white !important;
}

.green-audio-player .slider {
    background-color: #5c5b5b !important;
}

.green-audio-player .controls .controls__slider {
    border-radius: 0px !important;
    height: 2px !important;
    margin-left: 6px !important;
    margin-right: 1px !important;
}

.green-audio-player .holder .loading .loading__spinner {
    display: none !important;
}

/* TYPEWRITER EFFECT */
.typed-words {
    content: '';
    display: block;
    animation: none;
}

/* UP/DOWN SCROLL BUTTONS */
html {
    scroll-behavior: smooth;
}

.tab-content {
    scroll-behavior: smooth;
}

/* SCROLLBAR HIDE */
/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

body {
    -webkit-font-smoothing: antialiased;
}

body {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

:root {
    scrollbar-width: none !important;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* SWIPER JS (VIDEO REEL) */

:root {
    --swiper-theme-color: #white;
}

.tab-menu {
    transition: all 0.7s ease-in !important;
}

.swiper {
    width: 100%;
    overflow: visible;
}

.swiper-slide {
    transition: all 0.7s ease-in;
    min-width: 100px;
    border-radius: 0 0 0 0;
}

.swiper-slide .card_description {
    display: none;
}

.mediumVideo {
    transition: all 0.9s ease-in;
    z-index: 4;
    min-width: 35vw;
}

.largeVideo {
    transition: all 1s ease-in;
    z-index: 5;
    min-width: 70vw;
}

.card_video {
    border-radius: 0 0 0 0;
}

.plyr {
    min-width: 0 !important;
}

.plyr--video .plyr__controls {
    display: none;
}

.mediumVideo .plyr__controls {
    /* transition: all 1s ease-in; */
    display: block;
}

.largeVideo .plyr__controls {
    /* transition: all 1s ease-in; */
    display: block;
}

.swiper-button-next {
    right: 0;
    top: -60px;
    margin: 0px;
    margin-right: 10px;
    background: transparent;
    opacity: 0.5 !important;
    color: grey !important;
    z-index: 20;
}

.swiper-button-prev {
    left: 0;
    top: -60px;
    margin: 0px;
    margin-left: 10px;
    background: transparent;
    color: grey !important;
    opacity: 0.5 !important;
    z-index: 20;
}

.swiper-button-prev:hover {
    color: white !important;
    opacity: 1 !important;
}

.swiper-button-next:hover {
    color: white !important;
    opacity: 1 !important;
}

/* update the sizing for the swiper left/right buttons */
.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 20px !important;
    letter-spacing: 1;
    height: 0px !important;
}

/* PLYR */
.class-embed {
    --plyr-menu-radius: 0px !important;
    --plyr-badge-border-radius: 0px !important;
    --plyr-control-radius: 0px !important;
    --plyr-control-padding: 1px !important;
    --plyr-control-radius: 0px !important;
    --plyr-range-thumb-height: 0px !important;
    --plyr-range-thumb-background: white !important;
    --plyr-range-track-height: 2px !important;
    --plyr-range-fill-background: #c8a2c8 !important;
}

/* plyr controls */
.player
    button.PlayButton_module_playButton__c748471d.PlayButton_module_center__c748471d {
    display: none !important;
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded='true'] {
    background: transparent;
    height: 5px;
}

.plyr__control {
    position: relative;
    bottom: 5px;
    left: 25px;
    color: white;
    background: transparent;
}

.plyr--full-ui input[type='range'] {
    border-radius: 0px;
    color: white;
    height: 5px;
}

.plyr__tooltip {
    display: none !important;
}

.plyr {
    min-width: 0 !important;
}

.plyr__controls {
    align-items: left;
    display: start;
    justify-content: left;
    text-align: left;
    padding-right: 5px;
}

[data-plyr='play'] {
    display: absolute;
    bottom: 0px;
    left: 0px;
}

.plyr__progress [data-plyr='seek'] {
    color: #c8a2c8;
}

.plyr--video .plyr__controls {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 0px;
}

/* padding top tells you how much space there will be between the play and the progress bar*/
.plyr__controls .plyr__controls__item.plyr__progress__container {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

/* this is the play button */
.plyr__controls .plyr__controls__item:first-child {
    margin-left: 10px;
    margin-right: auto;
}

.player
    .ControlBar_module_controls__d3ac62ba.ControlBar_module_noPlaybar__d3ac62ba {
    display: none !important;
}

@media screen and (max-width: 1200px) {
    .swiper {
        padding: 0 36px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 36px;
        height: 30px;
    }
}
